@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
    background-color:#000;
    color: rgba(184, 188, 204, 0.50);
}
::-webkit-scrollbar {
    display: none;
}
.about{
    padding: 1.5rem;
}
.about>h1{
    color: rgba(184, 188, 204, 0.50);
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#ip-address{
    color: white;
}
#aboutLocation{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.map-container{
    background: #575A85;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.map-container>h2{
    color: #B8BCCC;
text-align: center;
font-family: Montserrat;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#map{
    margin-top: 1rem;
    height: 60vh;
    width: 100%;
}
iframe{
    width: 100%;
    height: 100%;
}


.more-info{
    padding: 18px 0px;

}

.more-info>h3{
    color: #B8BCCC;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}
.more-info>p{
    color: rgba(184, 188, 204, 0.50);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 60px;
}
.more-info>p>span{
    color: rgba(255, 255, 255, 0.778);
}


.postofice-cards{
    padding: 18px 0px;

}

.postofice-cards>h1{
    color: #B8BCCC;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

#searchInput{
    background: #000;
    margin: 1.5% 0%;
    width: 100%;
    height: 40px;
    border: 2px solid #B8BCCC;
    border-radius: 6px;
    padding: 4px 12px;
    box-sizing: border-box;
    color: white;
    font-size: 1.2rem;
    outline: none;
}

#searchInput::placeholder{
    color: #B8BCCC;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.cardsGrid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

.card{
    margin: 2% 0%;
    
    /* flex-shrink: 0; */
    border-radius: 10px;
    background: #575A85;
    padding: 2%;
}

.card>h4{
    color: #B8BCCC;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
}

.card>h4>span{
    color: rgba(255, 255, 255, 0.875);
    /* color: red; */
}

@media screen and (max-width:1240px){
    .card-container{
        justify-content: center;
    
    }
    
    .card{
        width: 70%;
    }
}